
@{
    ViewBag.Title = "Category";
}

<div id="headercontainer">
    <h1 id="headerTitle">Choose a Topic</h1>
</div>


<div id="pagecontent">
    <div id="topiccontainer">
        <div class="row1">
            <div class="column1">
                <a href="@Url.Action("Chat","Home")">
                    <img class="topic-img" src="~/Resources/test.jpg" />
                    <img class="topic-img-hover" src="~/Resources/background.jpg" />
                    <div class="topic-text">Category</div>
                </a>
            </div>
            <div class="column2">
                <a href="@Url.Action("Chat","Home")">
                    <img class="topic-img" src="~/Resources/test.jpg" />
                    <img class="topic-img-hover" src="~/Resources/background.jpg" />
                    <div class="topic-text">Category</div>
                </a>
            </div>
            <div class="column3">
                <a href="@Url.Action("Chat","Home")">
                    <img class="topic-img" src="~/Resources/test.jpg" />
                    <img class="topic-img-hover" src="~/Resources/background.jpg" />
                    <div class="topic-text">Category</div>
                </a>
            </div>
        </div>
        <div class="row2">
            <div class="column1">
                <a href="@Url.Action("Chat","Home")">
                    <img class="topic-img" src="~/Resources/test.jpg" />
                    <img class="topic-img-hover" src="~/Resources/background.jpg" />
                    <div class="topic-text">Category</div>
                </a>
            </div>
            <div class="column2">
                <a href="@Url.Action("Chat","Home")">
                    <img class="topic-img" src="~/Resources/test.jpg" />
                    <img class="topic-img-hover" src="~/Resources/background.jpg" />
                    <div class="topic-text">Category</div>
                </a>
            </div>
            <div class="column3">
                <a href="@Url.Action("Chat","Home")">
                    <img class="topic-img" src="~/Resources/test.jpg" />
                    <img class="topic-img-hover" src="~/Resources/background.jpg" />
                    <div class="topic-text">Category</div>
                </a>
            </div>
</div>
    </div>
</div>
