@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Lobby";
}

@section js {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script>
        function friendclick(friend) {
            alert("Clicked on" + friend);
        }

        $(function () {
            // Empty the list first
            alert("Populating FriendsList.");
            var e = document.getElementById('friendlist');
            e.innerHTML = "";
            $.ajax({
                type: "GET",
                url: '@Url.Action("getFriends", "Home")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                data: {
                    name: '@(User.Identity.GetUserName())'
                },//data,
                success: function (friendsStr) {
                    if (friendsStr[0] != null) {
                        for (var i = 0; i < friendsStr[0][0].length; i++) {
                            console.log(friendsStr[i]);
                            $('#friendlist').append('<div class="friendlistitem" onclick="friendclick(' + friendsStr[0] + ')">'
                                + '<span class="friendname">'
                                + friendsStr[0]
                                + '</span>'
                                + '<span class="friendstatus">'
                                + friendsStr[1]
                                + '</span>'
                                + '</div>').show();
                        }
                    }
                    //$('#friendlist').append($('</div>'));
                    //  $('#friendspanel').attr("style", "z-index: 2; display: block;");
                },
                error: function (ob, errStr) {
                    alert("An error occured, please try again.");
                }
            });
        });
    </script>
    }

<div id="headercontainer">
    <h1 id="headerTitle">Welcome!</h1>
</div>

<div class="pagecontent lobbycontainer-wrapper">
    <div>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                

                @*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@
               
            }
        }
    </div>

    <div id="lobbycontainer">
        <div id="friendcontainer">
            <div id="friendpanel">
                <div id="friendheader">
                </div>
                <hr />
                <div id="friendlist-wrapper">
                    <div id="friendlist">
                        Hi
                    </div>
                </div>
            </div>
        </div>

        <div id="matchcontainer">
            <div id="welcomecontainer">
                <div id="welcomemessage">
                    Hi, @(User.Identity.GetUserName())!
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a id="logoutform" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
                        }
                    }
                </div>
                <div id="welcomesubmessage">
                    Get started by selecting a topic.
                </div>
                <a id="matchbutton" href="@Url.Action("Category", "Home")">Choose topic</a>
            </div>
        </div>
    </div>
</div>
