@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Lobby";
}

@section js {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        // make it accept 2 parameters, make a new function in chathub. make this href to chat (refer to categories)
        // and append personal to the url. use parser to read and create or find existing room. add user to room.
        function friendclick(friendname, friendip) {
            window.location.href = "@Url.Action("Chat", "Home")" + "?topic=Friend" + "&name=" + friendname + "&ip=" + friendip;
        }

        $(function () {
            // Empty the list first
            var e = document.getElementById('friendlist');
            e.innerHTML = "";
            $.ajax({
                type: "GET",
                url: '@Url.Action("getFriends", "Home")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                data: {
                    name: '@(User.Identity.GetUserName())'
                },//data,
                success: function (friendsStr) {

                    if (friendsStr[0] != null) {
                        for (var i = 0; i < friendsStr.length/3; i++) {
                            $('#friendlist').append('<div class="friendlistitem" onclick="friendclick(&quot;' + friendsStr[i] + "&quot;, &quot;" + friendsStr[i + ((friendsStr.length / 3) * 2)] + '&quot;)">'
                                + '<span class="friendname">'
                                + friendsStr[i]
                                + '</span>'
                                + '<span class="friendstatus">'
                                + friendsStr[i + friendsStr.length/3]
                                + '</span>'
                                + '</div>'
                            ).show();
                        }
                    } else {
                        $('#friendlist').append('<div class="friendlistitem-empty"> You have no friends. </div>').show();
                    }
                    //$('#friendlist').append($('</div>'));
                    //  $('#friendspanel').attr("style", "z-index: 2; display: block;");
                },
                error: function (ob, errStr) {
                    alert("An error occured, please try again.");
                }
            });
        });

        $(function () {
            var chat = $.connection.chatHub;

            chat.client.gettopic = function () {
                chat.server.returnValue('');
            };

            chat.client.roominvitation = function () {
                alert("YOU GOT INVITED!!");
                window.location.href = "@Url.Action("FriendChat", "Home")" + "?topic=FriendJoining";
            };
        });
    </script>
    }

<div id="headercontainer">
    <h1 id="headerTitle">Welcome!</h1>
</div>

<div class="pagecontent lobbycontainer-wrapper">
    <div>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                

                @*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@
               
            }
        }
    </div>

    <div id="lobbycontainer">
        <div id="friendcontainer">
            <div id="friendpanel">
                <div id="friendheader">
                </div>
                <hr />
                <div id="friendlist-wrapper">
                    <div id="friendlist">
                    </div>
                </div>
            </div>
        </div>

        <div id="matchcontainer">
            <div id="welcomecontainer">
                <div id="welcomemessage">
                    Hi, @(User.Identity.GetUserName())!
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a id="logoutform" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
                        }
                    }
                </div>
                <div id="welcomesubmessage">
                    Get started by selecting a topic.
                </div>
                <a id="matchbutton" href="@Url.Action("Category", "Home")">Choose topic</a>
            </div>
        </div>
    </div>
</div>
