@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Lobby";
}

@section js {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        function friendclick(friendname, friendip) {
            //$('.friendlistitem-hover').css({ right: '0px', opacity: 1, background: '#cecece' });
            //$('.friendlistitem-hover').empty().append($('<div>Waiting for ' + friendname + ' to reply</div>').css({ opacity: 0 }).animate({ opacity: 1 }, 500, 'swing'));

            @*setTimeout(function () {
                window.location.href = "@Url.Action("Chat", "Home")" + "?topic=Friend" + "&name=" + friendname + "&ip=" + friendip;
            }, 5000);*@
            window.location.href = "@Url.Action("Lobby", "Home")" + "?topic=Friend" + "&name=" + friendname + "&ip=" + friendip + "&status=invited";

        }

        var qsParm = new Array();
        function qs() {
            var query = window.location.search.substring(1);
            var parms = query.split('&');
            for (var i = 0; i < parms.length; i++) {
                var pos = parms[i].indexOf('=');
                if (pos > 0) {
                    var key = parms[i].substring(0, pos);
                    var val = parms[i].substring(pos + 1);
                    qsParm[key] = val;
                }
            }
        }

        qsParm['topic'] = null;
        qsParm['name'] = null;
        qsParm['ip'] = null;
        qsParm['status'] = "normal";
        $(function () {
            qs();

            //setTimeout(function () {
            if (qsParm['status'] == "invited") {
                $('#friendpanel').css({ 'top': '10%' });
                $('#matchcontainer').css({ 'opacity': 1 });
                //setTimeout(function () {
                    //$('.friendlistitem-hover').css({ right: '0px', opacity: 1, background: '#cecece' });
                    //$('.friendlistitem-hover').empty().append($('<div>Waiting for reply</div>').css({ opacity: 0 }).animate({ opacity: 1 }, 1000, 'swing'));
                //},300);
            } else {
                $('#friendpanel').css({ 'top': '100%' });
                $('#matchcontainer').css({ 'opacity': 0 });

                setTimeout(function () {
                    $('#friendpanel').animate({ 'top': '10%' }, 1000, 'swing');
                    $('#matchcontainer').animate({ 'opacity': 1 }, 600);
                }, 500);
            }
            //}, 100);

            // Empty the list first
            var e = document.getElementById('friendlist');
            e.innerHTML = "";
            $.ajax({
                type: "GET",
                url: '@Url.Action("getFriends", "Home")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                data: {
                    name: '@(User.Identity.GetUserName())'
                },//data,
                success: function (friendsStr) {

                    if (friendsStr[0] != null) {
                        for (var i = 0; i < friendsStr.length / 3; i++) {
                            $('#friendlist').append('<div class="friendlistitem">'
                                + '<span class="friendname">'
                                + friendsStr[i]
                                + '</span>'
                                + '<span class="friendstatus">'
                                + friendsStr[i + friendsStr.length / 3]
                                + '</span>'
                                + '</div>'
                                + '<div class="friendlistitem-hover" onclick="friendclick(&quot;' + friendsStr[i] + "&quot;, &quot;" + friendsStr[i + ((friendsStr.length / 3) * 2)] + '&quot;)">'
                                + 'Click to chat'
                                + '<img class="chaticon" src="../Resources/chatbubble.png" height="30";/>'
                                + '</div>'
                            ).show();
                        }
                        if (qsParm['status'] == "invited") {
                            $('.friendlistitem-hover').css({ right: '0px', opacity: 1, background: '#cecece' });
                            $('.friendlistitem-hover').empty().append($('<div>Waiting for reply</div>').css({ opacity: 0 }).animate({ opacity: 1 }, 1000, 'swing'));
                        }

                    } else {
                        $('#friendlist').append('<div class="friendlistitem-empty"> You have no friends. </div>').show();
                    }
                },
                error: function (ob, errStr) {
                    //alert("An error occured, please try again.");
                }
            });



            var chat = $.connection.chatHub;

            var topicvalue;
            var namevalue;
            var ipvalue;
            chat.client.gettopic = function () {
                if (qsParm['status'] == "invited") {
                    topicvalue = qsParm['topic'];
                    namevalue = qsParm['name'];
                    ipvalue = qsParm['ip'];
                    chat.server.returnValue(topicvalue);
                } else {
                    chat.server.returnValue('');
                }
            };

            chat.client.getfriendinfo = function () {
                chat.server.returnFriend(namevalue, ipvalue);
            };

            chat.client.roominvitation = function (name, ip) {
                if (qsParm['status'] == 'invited') {
                    window.location.href = "@Url.Action("Chat", "Home")" + "?topic=FriendJoining";
                } else {
                    if (confirm(name + ' is inviting you to chat with them!')) {
                        window.location.href = "@Url.Action("Chat", "Home")" + "?topic=Friend" + "&name=" + name + "&ip=" + ip;
                    } else {
                        // Do nothing!
                    }
                }
                //window.location.href = "@Url.Action("Chat", "Home")" + "?topic=FriendJoining";
            };

            $.connection.hub.start().done(function () { });
        });
    </script>
    }

<div id="headercontainer">
    <h1 id="headerTitle">Welcome!</h1>
</div>

<div class="pagecontent lobbycontainer-wrapper">
    <div>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                @*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@
            }
        }
    </div>

    <div id="lobbycontainer">
        <div id="friendcontainer">
            <div id="friendpanel">
                <div id="friendheader">
                    FRIEND LIST
                </div>
                @*<hr />*@
                <div id="friendlist-wrapper">
                    <div id="friendlist">
                    </div>
                </div>
            </div>
        </div>

        <div id="matchcontainer">
            <div id="welcomecontainer">
                <div id="welcomemessage">
                    Hi, @(User.Identity.GetUserName())!
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a id="logoutform" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
                        }
                    }
                </div>
                <div id="welcomesubmessage">
                    Get started by selecting a topic.
                </div>
                <a id="matchbutton" href="@Url.Action("Category", "Home")">Choose topic</a>
            </div>
        </div>
    </div>
</div>
